body {
    overflow-x: hidden;

    font-size: 16px;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}

#left {
    text-align: left;
}

#form label {
    font-size: 16px;
}

#form input, #form select, #form textarea {
    width: 100%;

    font-size: 16px;
}

#form textarea {
    resize: vertical;
}

#table table {
    width: 100%;

    font-size: 16px;
}

#table tr {
    text-align: center;
}

#table .even {
    background-color: lightgrey;
}

.page-title {
    font-size: 22px;
}

.page-subtitle {
    font-size: 20px;
}

#toppanel, #toppanel-right {
    padding: 5px;

    background-color: /*lightblue*/ lightgrey;

    font-size: 20px;
}

#toppanel-right {
    text-align: right;
}

#toppanel .general-link {
    margin-left: 10px;
}

#toppanel-right .general-link {
    margin-right: 10px;
}

.general-link {
    color: black;
    text-decoration: underline;

    font-size: 16px;
}

.general-link:hover {
    color: black;
    text-decoration: none;
}

.comment-text {
    color: black;
    font-size: 14px;
}

.comment-info {
    color: black;
    font-size: 14px;
}