body {
    overflow-x: hidden;

    font-size: 16px;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}

#left {
    text-align: left;
}

#form label {
    font-size: 16px;
}

#form input, #form select, #form textarea, #form button {
    width: 100%;

    font-size: 16px;
}

#form button {
    border: 1px solid black;
}

#form textarea {
    resize: vertical;
}

#table table {
    width: 100%;

    font-size: 16px;
}

#table tr {
    text-align: center;
}

#table .even {
    background-color: lightgrey;
}

.page-title {
    font-size: 22px;
}

.page-subtitle {
    font-size: 20px;
}

#toppanel, #toppanel-right, #subpanel {
    padding: 5px;

    background-color: rgb(212, 212, 212, 0.5);
    backdrop-filter: blur(5px);

    font-size: 20px;
}

#toppanel-right {
    text-align: right;
}

#toppanel .general-link, #subpanel .general-link {
    margin-left: 10px;
}

#toppanel-right .general-link {
    margin-right: 10px;
}

.general-link {
    color: black;
    text-decoration: underline;

    font-size: 16px;
}

.general-link:hover {
    color: black;
    text-decoration: none;
}

.comment-text {
    color: black;
    font-size: 14px;
}

.comment-info {
    color: black;
    font-size: 14px;
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bulk_actions {
    position: fixed;

    bottom: 1%;
    right: 1%;
    width: 350px;
    height: 49%;
    
    border-radius: 25px;

    background-color: rgb(212, 212, 212, 0.5);
    backdrop-filter: blur(5px);
}

.widget {
    background-color: rgb(212, 212, 212, 0.5);
    backdrop-filter: blur(5px);

    padding: 10px;
}

#notifications {
    display: none;

    width: 25%;
    height: 300px;

    position: fixed;

    z-index: 99;

    right: 10px;

    top: 11%;

    background-color: rgb(212, 212, 212, 0.5);
    backdrop-filter: blur(5px);

    padding: 10px;

    overflow-y: scroll;
}

.info {
    background-color: lightgreen;
    border: 1px solid green;
    color: green;
}

.warn {
    background-color: orange;
    border: 1px solid red;
    color: red;
}

.error {
    background-color: lightcoral;
    border: 1px solid darkred;
    color: darkred;
}

#flash-message {
    padding: 10px;

    margin: 10px;

    border-radius: 5px;
}