$SETTINGS_PANEL$

<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-2">
        <div class="row">
            <div class="col-md" id="center">
                <p class="page-subtitle">$CURRENT_FOLDER_NAME$</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $FOLDERS_LIST$
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p class="page-title">$PAGE_TITLE$</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $LINKS$

                <div class="row">
                    <div class="col-md" id="table">
                        $FOLDERS_GRID$
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>
</div>