<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md" id="center">
                <p class="page-subtitle">$CURRENT_FOLDER_TITLE$</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $FOLDER_LIST$
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p class="page-title">$PAGE_TITLE$</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <form method="POST" action="$FORM_ACTION$">
                    <div class="row">
                        <div class="col-md-3">
                            $BULK_ACTION_CONTROLLER$
                            $SEARCH_FIELD$
                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md" id="right">
                            $LINKS$
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md" id="table">
                            $DOCUMENT_GRID$
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md" id="right">
                            $DOCUMENT_PAGE_CONTROL$
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>
<div id="bulk_actions" style="display: none"></div>