<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p class="page-title">$PAGE_TITLE$</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md" id="table">
                $PROCESS_GRID$
            </div>
        </div>

        <div class="row">
            <div class="col-md" id="right">
                $PROCESS_PAGE_CONTROL$
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>